{{#each models}}
  <article>
  <a>
    <img src="{{this.attributes.image}}" />
    <h3>{{this.attributes.name}}</h3> 
    <p>{{this.attributes.description}}</p>
    <h2>{{this.attributes.price}}</h2>
  </a>
  <div class="rateit bigstars" data-rateit-starwidth="20" data-rateit-starheight="20" data-rateit-value="{{this.attributes.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div> 
  </article>
{{/each}}