{{#collection this}}
  <article>
  <a>
    <img src="{{image}}" />
    <h3>{{name}}</h3> 
    <p>{{description}}</p>
    <h2>{{price}}</h2>
  </a>
  <div class="rateit bigstars" data-rateit-starwidth="20" data-rateit-starheight="20" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-max="5" data-rateit-readonly="true"></div> 
  </article>
{{/collection}}