			<article> //ModelView for a single television, will duplicated in television.handlebars
			<a>
				<img {{picture}} /> //Are the images all the same size? if not how should that be handled?
				<h3>{{Title}}<h3> // should the whole tv through price be the link or just this title?
				<p>{{Description}}</p> //h tag? 
				<h2>{{Price}}</h2> //matches cta main title but different font size so same h tag?
			</a>
			<a>{{Rating}} (stars, possibly jQueryUI?) </a> //should this be a separate link to ratings? 
			</article>